<div
class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar"
style="
  width: 280px;
  border-right: 2px;
  border-right-style: solid;
  min-height: calc(100vh - 50px);
  border-right-color: rgb(206, 206, 206);
"
>
<div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" style="">
      <a
        href="#"
        class="nav-link"
        aria-current="page"
        [ngClass]="{'borda-selecionada': itemAtual=='clientes'}"
        (click)="mudadoItem('clientes')"
      >
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        <i class="fa fa-user"></i>        Clientes
      </a>
    </li>
    <li>
      <a href="#" class="nav-link " (click)="mudadoItem('grupos')"
      [ngClass]="{'borda-selecionada': itemAtual=='grupos'}"
      >
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        <i class="fa fa-users"></i>            Grupos
      </a>
    </li>

  </ul>
</div>
<div></div>
</div>
