<nav
  class="navbar navbar-expand-lg navbar-white bg-light"
  style="
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(206, 206, 206);
  "
>
  <div style="width: 280px; display: flex; justify-content: center; align-items: center;"  >
    <a class="navbar-brand" href="#">
      <img src="./../assets/logo_small.png" alt="" />
    </a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.farmaponte.com.br/?gclid=Cj0KCQjw29CRBhCUARIsAOboZbIrxAC3-IQjGzBx3hqqNZoGdOrAf0ExBJYNxnjhR7Ci3mAVtP_I8dkaAt7_EALw_wcB"
          >Site <span class="sr-only">(current)</span></a
        >
      </li>
      <a
      href="#"
      class="nav-link"
      aria-current="page"
      style="

      "
    >
      <svg class="bi me-2" width="16" height="16">
        <use xlink:href="#home"></use>
      </svg>
      <i class="fa fa-home"></i>
      Tela Principal
    </a>
      <a href="#" class="nav-link link-dark" [routerLink]="['resumo']">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        <i class="fa fa-list"></i>            Tela de Resumo
      </a>


    </ul>
  </div>
</nav>
