/* You can add global styles to this file, and also import other style files */
*{

  font-family: heebo, sans-serif;
}

:root{

  --primary-color: rgb(0, 23, 155);
  --primary-color-alpha: rgba(0, 23, 155, 0.644);

  --color-light: rgb(248,249,250);
  --logo-vermelho: rgb(238,43,51);
  --logo-vermelho-alfa: rgba(238, 43, 50, 0.699);

}
@import "./../node_modules/font-awesome/css/font-awesome.min.css";
